data
env
*/*/*/__pycache__
**/__pycache__
*.pyc
*.env
*_link.md
__pycache__/
*/*.pyc
**/*.pyc
/common_link
/venv
/build
/*.egg-info
*.pyc
/dist
/.tufup*
/temp_tufup
***/__pycache__
/pytest.log
.vscode